<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>archifiltre</title>

<script type="text/javascript" src="/assets/js/jquery-3.4.1.min.js"></script>

<link rel="stylesheet" type="text/css" href="/assets/css/foundation.min.css">
<script type="text/javascript" src="/assets/js/foundation.min.js"></script>

<link rel="stylesheet" href="/assets/css/styles.css">

<script type="text/javascript" src="/assets/js/detect-platform.js"></script>
