
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/Quicksand/Quicksand-Regular.ttf') format('opentype');
}

._padded_ {
  padding: 0.5em;
}

*, p, h1, h2 {
  font-family: 'Quicksand', sans-serif;
}

h1 {
  letter-spacing: 0.06em;
  font-size: 3.3em;
}

h2 {
  font-size: 1.5em;
}

p {
  font-size: 0.9em;
  line-height: 1.7em;
}

.__cta__ {
  background-color: #ff1a00;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  font-size: 2em;
  cursor: pointer;
  color: white;
  font-weight: 600;
  letter-spacing: 0.05em;
  transition: background-color 1s;
}

.__cta__:hover {
  background-color: #0058ff;
}


