---
---
<!doctype html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="grid-y grid-frame">
      <div class="cell shrink">
        {% include navigation.html %}    
      </div>
      <div class="cell auto">

        <div class="grid-y align-center" style="height: 100%; text-align: center;">
          <div class="cell">
            <h1>404</h1>
          </div>
          <div class="cell">
            <p><strong>Page not found :(</strong></p>
          </div>
          <div class="cell">
            <p>The requested page could not be found.</p>
          </div>
        </div>

      </div>
      <div class="cell shrink">
        {% include footer.html %}
      </div>      
    </div>
  </body>
</html>