---
layout: default
---


<div class="grid-x _padded_">
  <div class="cell small-12 _padded_" style="text-align: center;">
    <h1>Download</h1>
  </div>
  <div class="cell small-12 _padded_">

    <div class="grid-x align-center">
      {% for platform in site.data.platforms %}
        <div class="cell small-12 medium-7 _padded_">
  
          <div class="grid-x">
            <div class="cell small-2 _padded_">
              <img src="{{platform.img}}" alt="">
            </div>
            <div class="cell small-10 _padded_">
              <div class="grid-y align-center" style="height: 100%;">
                <div class="cell shrink">
                  <a href="{{platform.link}}">{{platform.name}}</a>
                </div>
              </div>
            </div>
          </div>

        </div>
      {% endfor %}

      <div
        class="cell small-8"
        style="
          background-color: rgb(66, 66, 66);
          height: 0.1em;
        "
      ></div>

      <div class="cell small-12 medium-7 _padded_">
  
        <div class="grid-x">
          <div class="cell small-2 _padded_">
            <div class="grid-y align-center" style="height: 100%;">
              <div class="cell shrink">
                <img src="/assets/images/chrome.png" alt="">
              </div>
            </div>
          </div>
          <div class="cell shrink _padded_">
            <div class="grid-y align-center" style="height: 100%;">
              <div class="cell shrink">
                ou
              </div>
            </div>
          </div>
          <div class="cell small-2 _padded_">
            <div class="grid-y align-center" style="height: 100%;">
              <div class="cell shrink">
                <img src="/assets/images/firefox.png" alt="">
              </div>
            </div>
          </div>
          <div class="cell auto _padded_">
            <div class="grid-y align-center" style="height: 100%;">
              <div class="cell shrink">
                <a href="https://archifiltre.github.io/v8/">Navigateur (legacy)</a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>


  </div>
</div>
